# Ignore these
obj/
bin/
.vscode/
Mono.Cecil.0.11.2/Mono.Cecil.0.11.2.nupkg
Mono.Cecil.0.11.2/lib/net40/LinearIrTest.exe
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.dll
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Mdb.dll
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Mdb.pdb
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.pdb
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Pdb.dll
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Pdb.pdb
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Rocks.dll
Mono.Cecil.0.11.2/lib/net40/Mono.Cecil.Rocks.pdb
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.dll
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Mdb.dll
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Mdb.pdb
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.pdb
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Pdb.dll
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Pdb.pdb
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Rocks.dll
Mono.Cecil.0.11.2/lib/netstandard2.0/Mono.Cecil.Rocks.pdb
